Import Libraries

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
sns.set_style("whitegrid")
plt.rc("figure",autolayout=True)
plt.rc("axes",labelweight="bold",labelsize="large",titleweight="bold",titlesize=18,titlepad=10)
plt.rc("animation",html="html5")
import warnings
warnings.filterwarnings("ignore")

Import Data

In [46]:
train_path=r"D:\Resume Projects\Forecasting Sales\train.csv"
test_path=r"D:\Resume Projects\Forecasting Sales\test.csv"

In [47]:
train_data=pd.read_csv(train_path)
test_data=pd.read_csv(test_path)

In [48]:
train_df=pd.DataFrame(train_data)
test_df=pd.DataFrame(test_data)

In [49]:
train_df.head(3)

   id        date country              store            product  num_sold
0   0  2010-01-01  Canada  Discount Stickers  Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers             Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers       Kaggle Tiers     906.0

In [50]:
test_df.head(3)

       id        date country              store            product
0  230130  2017-01-01  Canada  Discount Stickers  Holographic Goose
1  230131  2017-01-01  Canada  Discount Stickers             Kaggle
2  230132  2017-01-01  Canada  Discount Stickers       Kaggle Tiers

In [51]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230130 entries, 0 to 230129
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        230130 non-null  int64
 1   date      230130 non-null  object
 2   country   230130 non-null  object
 3   store     230130 non-null  object
 4   product   230130 non-null  object
 5   num_sold  221259 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 10.5+ MB

In [52]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98550 entries, 0 to 98549
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       98550 non-null  int64
 1   date     98550 non-null  object
 2   country  98550 non-null  object
 3   store    98550 non-null  object
 4   product  98550 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [53]:
train_df.describe()

                  id       num_sold
count  230130.000000  221259.000000
mean   115064.500000     752.527382
std     66432.953062     690.165445
min         0.000000       5.000000
25%     57532.250000     219.000000
50%    115064.500000     605.000000
75%    172596.750000    1114.000000
max    230129.000000    5939.000000

In [54]:
train_df.isnull().sum()

id             0
date           0
country        0
store          0
product        0
num_sold    8871
dtype: int64

Important : Null and 0 are not same in data.   
0 is a value.  
Null means value doesn't exist (data not available).

In [55]:
test_df.isnull().sum()

id         0
date       0
country    0
store      0
product    0
dtype: int64

Dealing with Date

In [56]:
train_df["date"]=pd.to_datetime(train_df["date"])
test_df["date"]=pd.to_datetime(test_df["date"])

Perform Exploratory Data Analysis